NEXT_PUBLIC_WEDDING_DATE=2027-01-23T18:00:00-03:00
NEXT_PUBLIC_CHURCH_MAPS_URL=https://maps.app.goo.gl/Mt6wwARimRkpqReV7?g_st=iw
ADMIN_PASSWORD=troque-esta-senha
ADMIN_SESSION_SECRET=troque-este-segredo
