node_modules
.next
out
dist
coverage
data/*.tmp
data/*.lock
public/uploads
!public/uploads/
!public/uploads/.gitkeep
!.gitkeep
.DS_Store
Thumbs.db
.env
.env.local
.env.production
*.log
tsconfig.tsbuildinfo
.agents
.codex
/VIDEO_OFICIAL.mov
/O_mundo_e_nos.mp3
/FOTO_CONFIRMAÇÃO.jpeg
/SENSAÇÃO_PARTE01.jpeg
/SENSAÇÃO_PARTE02.jpeg
/SENSAÇÃO_PRESENTES.jpeg
/Praia.mov
/public/Praia.mov
